<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Article Evaluation</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="header">
                <h1>Evaluation of News Article with NLP</h1>
            </div>
        </header>

        <main>
            <section>
                <div class="title">
                    <h2>AYLIEN Text Analysis API</h2>
                    <p> AYLIEN leverages Artificial Intelligence to empower thousands of forward-thinking enterprises and developers to collect, analyze, and understand vast amounts of human-generated content.</p>
                </div>
            </section>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url_main" type="text" name="input" value=""  placeholder="Please enter a URL!">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section id="return">
                <strong>Article Results:</strong>
                <div id="results">
                    <div id="polarity">Polarity: </div>
                    <div id="subjectivity"> Subjectivity: </div>
                    <div id="pop-con">Confidence: </div>
                    <div id="text"> Text: </div>
                </div>
            </section>
        </main>

        <footer>
            <p>Udacity FEND Project</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
